nav {
  .navbar-header {
    width: 100%;
    button, .navbar-brand {
      transition: opacity 0.15s;
    }
    button {
      margin-right: 0;
    }
    button:hover, .navbar-brand:hover {
      opacity: 0.8;
    }
  }
}


.navbar-default, .navbar-toggle:focus, .collapsed, button.navbar-toggle {
  background: #FFDAB9;
  border: 1px solid #333;
}

.myNavbar   {
  background-color: #ccc;
  color:#333333;
  border: 5px solid #333;
}