<h1> Edit post </h1>

<%= form_for @post do |post| %>


  <p>Название:<br/><%= post.text_field :title %></p>
  <p>Пост:<br/><%= post.text_field :body %></p>

  <p><%= post.submit "Изменить пост" %></p>

<% end %>