<!--<h2> All Posts </h2>-->
<!--<lu>-->
  <%# @posts.each do |post| %>
    <%#user_id = post.user_id %>
<!--    <li>User:<%#= User.find_by(id: user_id).first_name %></li>-->
<!--      <li>Title:<%#= post.title %></li>-->
<!--      <li>Body:<%#= post.body %></li><br>-->
      <%# end %>
<!--</lu>-->

<h2> All Posts </h2>

  <% @posts.each do |post| %>
    <%user_id = post.user_id %>
    User:<%= User.find_by(id: user_id).first_name %><br>
    Title:<%= post.title %><br>
    Body:<%= post.body %><br><br>
  <% end %>
